*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
    background-color: beige;
}
#main{
    height:100%;
    width:100%;
    background-color: beige;
    padding: 0.1px;
    position: relative;
}
/* nav styling */
.nav{
    width:100%;
    height:100px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 40px;
    /* border: 2px solid yellow; */
}
.nav h1{
    /* background-color: green; */
    width:22%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    font-size: 30px;
    letter-spacing: 0.1px;
}
.nav h2{
    /* background-color: orange; */
    width:20%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #000;
    font-size: 20px;
    font-weight: 600;
}
.nav h2:nth-last-child(2){
    width:23%;
    /* background-color: green; */
}
.nav h2:nth-last-child(1){
    /* background-color: red; */
    width:15%;
    border-right: none;
}
/* media queries for navbar */
@media(max-width:576px){
    .nav .hide{
        display: none;
    }
}
@media(max-width:768px){
    .nav h1{
        font-size: 23px;
    }
    .nav h2{
        font-size: 15px;
    }
}
/* center styling */
.center{
    /* background-color: yellow; */
    width:100%;
    height:100%;
    padding: 5vw;
    position: relative;
}
.center .content{
    width:100%;
    height:100%;
    position: relative;
    /* background-color: blue; */
}
.center .content video{
    width:100%;
    height:100%;
    object-fit: cover;
}
.center .content .overlay{
    height:clamp(0%,35%,45%);
    width:100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.259);
    backdrop-filter: blur(5px);
}
.center .content .overlay .overlay1{
    width:100%;
    height:60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    /* background-color: red; */
}
.center .content .overlay .overlay1 h1{
    font-family: monument;
    color:#fff;
}
.center .content .overlay .overlay1 h6{
    font-size: 1.5vw;
    color:#fff;
    border:2px solid;
    border-color: #fff #fff green #fff;
    border-radius: 50%;
}
.center .content .overlay .overlay2{
    width: 100%;
    height: 40%;
    padding: 0vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #fff;
    /* background-color: orange; */
}
.center .content .overlay .overlay2 h1{
    color:#fff;
    font-size: 21px;
    font-family: sans-serif;
}
/* media queries for center */
@media(max-width:380px){
    .center .content .overlay{
        height:30%;
    }
    .center .content .overlay .overlay1{
       padding: 2vw 4vw;
    }
    .center .content .overlay .overlay1 h1{
        /* background-color: red; */
        font-size: 1.5rem;
    }
    .center .content .overlay .overlay1 h6{
        font-size: 1.7rem;
        padding: 0.7rem;
    }
    .center .content .overlay .overlay2{
       padding: 2vw 4vw;
    }
    .center .content .overlay .overlay2 h1{
       font-size: 1rem;
    }
}
@media(max-width:576px){
    .center .content .overlay{
        height:30%;
    }
    .center .content .overlay .overlay1{
       padding: 2vw 4vw;
    }
    .center .content .overlay .overlay1 h1{
        /* background-color: red; */
        font-size: 1.5rem;
    }
    .center .content .overlay .overlay1 h6{
        font-size: 1.7rem;
        padding: 0.7rem;
    }
    .center .content .overlay .overlay2{
       padding: 2vw 4vw;
    }
    .center .content .overlay .overlay2 h1{
       font-size: 1rem;
    }
}
@media(max-width:768px){
    .center .content .overlay{
        height:30%;
    }
    .center .content .overlay .overlay1{
       padding: 2vw 4vw;
    }
    .center .content .overlay .overlay1 h1{
        /* background-color: red; */
        font-size: 1.5rem;
    }
    .center .content .overlay .overlay1 h6{
        font-size: 1.7rem;
        padding: 0.7rem;
    }
    .center .content .overlay .overlay2{
       padding: 2vw 4vw;
    }
    .center .content .overlay .overlay2 h1{
       font-size: 1rem;
    }
}
@media(max-width:992px){
    .center .content .overlay{
        height:35%;
    }
    .center .content .overlay .overlay1{
       padding: 2vw 4vw;
    }
    .center .content .overlay .overlay1 h1{
        /* background-color: red; */
        font-size: 1.7rem;
    }
    .center .content .overlay .overlay1 h6{
        font-size: 1.7rem;
        padding: 0.7rem;
    }
    .center .content .overlay .overlay2{
       padding: 2vw 4vw;
    }
    .center .content .overlay .overlay2 h1{
       font-size: 1.1rem;
    }
}
@media(max-width:1200px){
    .center .content .overlay{
        height:35%;
    }
    .center .content .overlay .overlay1{
       padding: 2vw 4vw;
    }
    .center .content .overlay .overlay1 h1{
        /* background-color: red; */
        font-size: 1.7rem;
    }
    .center .content .overlay .overlay1 h6{
        font-size: 1.7rem;
        padding: 0.7rem;
    }
    .center .content .overlay .overlay2{
       padding: 2vw 4vw;
    }
    .center .content .overlay .overlay2 h1{
       font-size: 1.1rem;
    }
}
@media(min-width:1201px){
    .center .content .overlay{
        height:35%;
    }
    .center .content .overlay .overlay1{
       padding: 2vw 4vw;
    }
    .center .content .overlay .overlay1 h1{
        /* background-color: red; */
        font-size: 1.7rem;
    }
    .center .content .overlay .overlay1 h6{
        font-size: 1.7rem;
        padding: 0.7rem;
    }
    .center .content .overlay .overlay2{
       padding: 2vw 4vw;
    }
    .center .content .overlay .overlay2 h1{
       font-size: 1.1rem;
    }
}
/* scroll styling */
.scroll{
    width:100%;
    height:40vh;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.container{
    height:100%;
    width:110%;
    display: inline-block;
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.container img{
    /* display: none; */
    height:70%;
    border-radius: 50%;
    width:13%;
    object-fit: cover;
    object-position: top;
    margin:2vw;

}
@keyframes anime{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
/* media queries for scroll */
@media(max-width:576px){
    .container{
        height:100%;
        width:135%;
        /* background-color: blue; */
    }
    .scroll .container img{
        height:35%;
    }
}
@media(max-width:768px){
    .container{
        height:100%;
        width:115%;
        /* background-color: blue; */
    }
    .scroll .container img{
        height: 55%;
    }
}
@media(max-width:992px){
    container{
        height:100%;
        width:120%;
    }
    .scroll .container img{
        height: 60%;
    }
}
@media(max-width:1200px){
    .container{
        height:100%;
        width:120%;
    }
    .scroll .container img{
        height: 65%;
    }
}
@media(min-width:1200px){
    container{
        height:100%;
        width:110%;
    }
    .scroll .container img{
        height: 70%;
    }
}